body {
	color: #444;
	background-color: #0771C9;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
}

h1 {
	margin-top: 0;
}

#page {
	position: relative;
	top: 2em;
	width: 500px;
	margin: 0 auto 4em;
	text-align: left;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px 20px 20px 20px;
	background-color: #02223D;
	padding: 1em;
	-moz-box-shadow: 0px 0px 15px #ccc;
	-webkit-box-shadow: 0px 0px 15px #ccc;
	box-shadow: 0px 0px 15px #ccc;
}

#inner {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px 15px 15px 15px;
	padding: 1em;
	background-color: #fff;
}

#info dt {
	font-weight: bold;
	font-size: 14pt;
}

#info dd {
	margin: 0 0 1em 0;
}

#map {
	
}

a.img {
	display: block;
	text-align: center;
}

img {
	border: 0;
}